<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Short URL</title>

  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  </style>
</head>

<body style="display: flex; flex-direction: column; gap: 0.5rem;">
  <h1>URL Shortener</h1>
  <% if (locals.shortID) { %>
  <p>
    URL Generated: <a href="http://localhost:8001/url/<%= locals.shortID %>" target="_blank">http://localhost:8001/url/<%= locals.shortID %>
    </a>
  </p>
  <% } %>
  <section>
    <form method="POST" action="/url">
      <div 
        style="
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          min-width: 350px;
        "
      >
        <label for="url" style="font-size: 1.15rem">Enter Your Original URL</label>
        <input 
          type="text" 
          placeholder="https://example.com" 
          name="url" 
          id="url" 
          style="
            padding-inline: 0.75rem;
            padding-block: 0.5rem;
            border-radius: 5px;
            border: 2px solid lightgray;
          "
        />
      </div>

      <button 
        type="submit" 
        style="
          padding-inline: 1rem;
          padding-block: 0.75rem;
          border: none;
          border-radius: 10px;
          background-color: #000000;
          color: #ffffff;
          cursor: pointer;
          font-size: 1.25rem;
          font-weight: bold;
          margin-top: 1rem;
        "
      >
        Generate
      </button>
    </form>
  </section>

  <section style="margin-top: 2rem;">
    <% if (locals.urls && locals.urls.length > 0) { %>
    <table>
      <thead>
        <tr>
          <th>S.N.</th>
          <th>Short ID</th>
          <th>Redirect URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% locals.urls.forEach((url, index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><a href="http://localhost:8001/url/<%= url.shortId %>" target="_blank"><%= url.shortId %></a></td>
          <td><a href="<%= url.redirectURL %>" target="_blank"><%= url.redirectURL %></a></td>
          <td><%= url.visitHistory.length %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } else { %>
    <p>No URLs generated yet.</p>
    <% } %>
  </section>
</body>

</html>
